<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(50,50) %></td>
        <td><%= user.name %></td>
        <td>フォロー数:<%= user.relationships.count %></td>
        <td>フォロワー数:<%= user.reverse_of_relationships.count %></td>
        <td>
          <% unless user == current_user %>
            <% if current_user.following?(user) %>
              <%= link_to user_relationships_path(user), method: :delete do %>
                <button class="btn btn-danger btn-sm">フォローを外す</button>
              <% end %>
            <% else %>
              <%= link_to user_relationships_path(user), method: :post do%>
                <button class="btn btn-primary btn-sm">フォロー</button> 
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to 'Show', user %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
