<table class='table'>
  <tr>
    <td><%= image_tag user.get_profile_image(100,100) %></td>
  </tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
	 </tr>
	 <tr>
	  <th>
	    <%= link_to followings_user_path(user.id) do%>
	     follows:<%= user.relationships.count %>
	    <% end %>
	  </th>
	 </tr>
	 <tr>
	  <th>
	    <%= link_to followers_user_path(user.id) do %>
	      followers:<%= user.reverse_of_relationships.count %>
	    <% end %>
	  </th>
   </tr>
   <tr>
     <th>
     <% unless user == current_user %>
       <% if current_user.following?(user) %>
        <%= link_to user_relationships_path(user), method: :delete do %>
          <button class="btn btn-danger btn-sm">フォローを外す</button>
        <% end %>
       <% else %>
        <%= link_to user_relationships_path(user), method: :post do%>
          <button class="btn btn-primary btn-sm">フォロー</button> 
        <% end %>
       <% end %>
      <% end %>
      </th>
      <th>
        <% if current_user != user && current_user.following?(user) && user.following?(current_user) %>
          <%= link_to chat_path do %>
            <button class = "btn btn-primary btn-sm">chatを始める</button>
          <% end %>
        <% end %>
      </th>
   </tr>
</table>

<% if user.name!="guestuser"%>　<!--ゲストログイン機能の記述-->
  <div class='row'>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  </div>
<% end %>

<!--ゲストログイン機能カリキュラム記述見本
<%# if user.name != "guestuser" %>
<div class='row'>
  <%#= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>
<%# end %>
-->